.error {
	width: 243px;
	background-color: rgba(255, 255, 255, 0.882);
	position: absolute;
	bottom: 63px;
	left: 30px;
	border-radius: 20px;
	padding: 10px;
	font-size: 13px;
	line-height: 20px;
	color: #000;
	text-align: center;
	z-index: 1;
}
